.user-info__avatar-icon {
  cursor: pointer;
  display: none;
  position: absolute;
  width: 30px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.user-info__photo:hover .user-info__avatar-icon {
  display: block;
}
